<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="mksDriveApp">
  <header id="header" class="fixed">
    <div class="nav-bar">
      <div class="logo left">
        <a href="/">Papalote</a>
      </div>
      <div class="search-bar" ng-controller="SearchBarController">
        <input ng-keypress="search($event)" class="med" type="text" placeholder="Search file or folder" ng-model="sq.keywords"/>
        <a class="fa fa-search fa-2x" ng-click="clickSearch()"></a>
      </div>
      <div class="top-nav-bar right" ng-controller="NavBarController">
        <a href="#/folders/new" class="nav-link">
          <i class="fa fa-folder"> +</i></a>
        <a href="#/docs/new" class="nav-link">
          <i class="fa fa-file-text-o"> +</i></a>
        <div class="nav-link nav-user">
          <span class="nav-username" ng-bind="user.name">...loading<i class="fa fa-sort-down"></i></span>
          <ul>
            <a href="/logout"><li ng-hide="guest"><i class="fa fa-sign-out"></i> Log Out</li></a>
            <a href="/login"><li ng-show="guest"><i class="fa fa-sign-in"></i> Log In</li></a>
          </ul>
        </div>
      </div>
    </header>
  <section id="main-section">
  <div class="slide intro">
    <div class='row'>
      <div class="small-12 columns">
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
      </div>
    </div>
  </div>
    <%= yield %>
  </section>
  <footer>
    Created by MakerSquare San Francisco
  </footer>
  <%= javascript_include_tag "application" %>
  </body>
</html>