<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://favicon-generator.org/download/2014-10-24/3c88e9cd89070d66ba72419f88b544c7.ico">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="mksDriveApp">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Whoa! Sick Topbar Dude!</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Button</span></a></li>
      </ul>

<<<<<<< HEAD
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#/folders/new">Create New Folder</a></li>
          <li class="active"><a href="#/docs/new">Create New File</a></li>
          <li class="has-dropdown">
            <a href="#">Right Button Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a></li>
              <li class="active"><a href="#">Active link in dropdown</a></li>
            </ul>
          </li>
        </ul>
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">Left Nav Button</a></li>
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="Find Stuff" ng-model="sq.keywords">
              </div>
              <div class="large-4 small-3 columns">
                <a class="alert button expand" ng-href="#/search/?keywords={{sq.keywords}}">Search</a>
              </div>
            </div>
          </li>
        </ul>

      <section id="main-section">
        <%= yield %>
      </section>

    </div>
  </div>

    <%= javascript_include_tag "application" %>
=======
  <header id="header" class="fixed">
    <div class="nav-bar">
      <div class="logo">
        <a href="/">Papalote</a>
      </div>
      <div class="top-nav-bar">
        <a href="#/test-chat" class="nav-link">
          <i class="fa fa-comments"></i>
        </a><a href="#/folders/new" class="nav-link">
          <i class="fa fa-folder"> +</i>
        </a><a href="#/docs/new" class="nav-link">
          <i class="fa fa-file-text-o"> +</i>
        </a><a href="#" class="nav-link nav-user">
          <%= image_tag("parag.gif", class: "avatar") %>
          <span class="nav-username">Parag da DON <i class="fa fa-sort-down"></i></span>
          <ul>
            <li><i class="fa fa-cog"></i> Settings</li>
            <li><i class="fa fa-sign-out"></i> Log Out</li>
          </ul>
        </a>
      </div>
    </div>
  </header>

  <section id="main-section">
    <%= yield %>
  </section>

<!--   <section id="chatter">
    <i class="fa fa-user"></i> <i class="fa fa-circle online"></i>
  </section>    --> 

  <footer>
    Created by MakerSquare San Francisco
  </footer>
  <%= javascript_include_tag "application" %>
>>>>>>> fixed new document view and chat


  </body>
</html>