<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link rel="shortcut icon" href="http://favicon-generator.org/download/2014-10-24/3c88e9cd89070d66ba72419f88b544c7.ico">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="mksDriveApp">

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu">
          <!-- whatever you want goes here -->
          <ul>
            <li><a href="#">Item 1</a></li>
            <li>dfgsdfgsdfg</li>
            <li>sdfasdf</li>
            <li>sdfasdf</li>
            <li>sdfasdf</li>
            <li>sdfasdf</li>
            <li>sdfasdf</li>
            <li>sdfasdf</li>
            <li>sdfasdf</li>
            <li>sdfasdf</li>
          </ul>
      </aside>

      <a class="left-off-canvas-toggle">
        nav goes here
      </a>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>


      <section class="main-section">
      <%= yield %>
      </section>

    </div>
  </div>


    <%= javascript_include_tag "application" %>


  </body>
</html>