<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="mksDriveApp">
  <header id="header" class="fixed">
    <div class="nav-bar">
      <div class="logo left">
        <a href="/">Papalote</a>
      </div>
      <div class="top-nav-bar right">
        <a href="#/test-chat" class="nav-link">
          <i class="fa fa-comments"></i>
        </a><a href="#/folders/new" class="nav-link">
          <i class="fa fa-folder"> +</i>
        </a><a href="#/docs/new" class="nav-link">
          <i class="fa fa-file-text-o"> +</i>
        </a><a href="#" class="nav-link nav-user">
          <%= image_tag("parag.gif", class: "avatar med online") %>
          <span class="nav-username">Parag da DON <i class="fa fa-sort-down"></i></span>
          <ul>
            <li><i class="fa fa-cog"></i> Settings</li>
            <li><i class="fa fa-sign-out"></i> Log Out</li>
          </ul>
        </a>
      </div>
    </header>
  <section id="main-section">
    <%= yield %>
  </section>
  <footer>
    Created by MakerSquare San Francisco
  </footer>
  <%= javascript_include_tag "application" %>
  </body>
</html>