<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://favicon-generator.org/download/2014-10-24/3c88e9cd89070d66ba72419f88b544c7.ico">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="mksDriveApp">

  <header id="header" class="fixed">
    <div class="nav-bar">
      <div class="logo">
        Papalote
      </div>
      <div class="top-nav-bar">
        <a href="#/chat" class="nav-link"><i class="fa fa-comments"></i>
        <a href="#/folders/new" class="nav-link"><i class="fa fa-folder"> +</i>
        <a href="#/docs/new" class="nav-link"><i class="fa fa-file-text-o"> +</i>
        <a href="#" class="nav-link nav-user">
          <%= image_tag("parag.gif", class: "avatar") %>
          <span class="nav-username">Parag da DON <i class="fa fa-sort-down"></i></span>
          <ul>
            <li><i class="fa fa-cog"></i> Settings</li>
            <li><i class="fa fa-sign-out"></i> Log Out</li>
          </ul>
        </a>
        <!-- <ul>
          <li class="nav-btn"><a href="#/chat"><i class="fa fa-comments"></i></li>
          <li class="nav-btn"><a href="#/folders/new"><i class="fa fa-folder"> +</i></li>
          <li class="nav-btn"><a href="#/docs/new"><i class="fa fa-file-text-o"> +</i></li>
          <li class="has-dropdown">
            <a href="#">
              <%= image_tag("parag.gif", class: "avatar") %>
              Parag Da DON
            </a>
            <ul class="dropdown">
              <li><a href="#">User Settings</a></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul> -->
      </div>
    </div>
  </header>

    <section id="main-section">
      <%= yield %>
    </section>

    <footer>
      Created by MakerSquare San Francisco
    </footer>
    <%= javascript_include_tag "application" %>


  </body>
</html>