<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link rel="shortcut icon" href="http://favicon-generator.org/download/2014-10-24/3c88e9cd89070d66ba72419f88b544c7.ico">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="mksDriveApp">





    <%= javascript_include_tag "application" %>


  </body>
</html>