<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="mksDriveApp">

  <header id="header">
    <div class="row">
      <div class="logo small-6 columns">
        logo
      </div>
      <nav id="main-nav" class="small-3 small-offset-3 columns">
        <div class="user-info">
          name
        </div>
        <div class="avatar">
          avatar
        </div>
      </nav>
    </div>
  </header>

  <div id="main-view">
    <%= yield %>
  </div>
    <%= javascript_include_tag "application" %>

  <footer>

  </footer>

  </body>
</html>